.dancing-ball {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 5px;
    transform-origin: 0 0;

    &:hover {
        cursor: pointer;
    }

    &-demo {
        position: relative;
        height: 400px;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &-wrapper {
        width: 100%;
    }

    &.red {
        background: red;
    }

    &.blue {
        background: blue;
    }

    &.green {
        background: green;
    }
}

.banner {
    flex: 2;
    display: flex;
    justify-content: center;

    p {
        font-family: sans-serif;
        font-size: 40px;
    }
}

.btn-restart {
    height: 32px;
    width: 100px;
    background: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    align-self: center;
    display: flex;
    margin: 20px;

    p {
        margin: auto;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: bold;
    }

    &:hover {
        cursor: pointer;
        background: grey;
    }
}

.btn-play {
    z-index: 10;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: black;
    opacity: 0.5;
    position: absolute;
    left: 200px;
    top: 150px;
    display: flex;
    font-size: 50px;
    align-content: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
        color: lightgray;
        opacity: 0.65;
    }

    div {
        transform: translateX(5px);
        align-self: center;
        justify-self: center;
    }
}
